<template>
  <div>
    <div class="video-container">
      <video autoplay muted loop>
        <source
          src="https://commondatastorage.googleapis.com/gtv-videos-bucket/sample/BigBuckBunny.mp4"
          type="video/mp4"
        />
      </video>
      <div class="caption">
        <h2>Your caption here</h2>
      </div>
      <canvas class="" ref="can" width="400" height="400"></canvas>
    </div>
  </div>
</template>

<script>
import { fabric } from "fabric";

export default {
  name: "Fabric",
  mounted() {
    const ref = this.$refs.can;
    const canvas = new fabric.Canvas(ref);

    // function getVideoElement(url) {
    //   var videoE = document.createElement("video");
    //   videoE.width = 530;
    //   videoE.height = 298;
    //   videoE.muted = true;
    //   videoE.crossOrigin = "anonymous";
    //   var source = document.createElement("source");
    //   source.src = url;
    //   source.type = "video/mp4";
    //   videoE.appendChild(source);
    //   return videoE;
    // }

    // var url_mp4 =
    //   "http://commondatastorage.googleapis.com/gtv-videos-bucket/sample/TearsOfSteel.mp4";

    // var videoE = getVideoElement(url_mp4);
    // var fab_video = new fabric.Image(videoE, { left: 0, top: 0 });
    // canvas.add(fab_video);
    // fab_video.getElement().play();
    // fabric.util.requestAnimFrame(function render() {
    //   canvas.renderAll();
    //   fabric.util.requestAnimFrame(render);
    // });

    const rect = new fabric.Rect({
      fill: "red",
      width: 20,
      height: 20,
    });

    var comicSansText = new fabric.Text("I'm in Comic Sans", {
      fontFamily: "Comic Sans",
    });
    canvas.add(comicSansText);

    fabric.Image.fromURL(
      "http://fabricjs.com/assets/printio.png",
      function (img) {
        var oImg = img.set({ left: 0, top: 0 }).scale(0.25);
        canvas.add(oImg);
      }
    );
    canvas.add(rect);
  },
};
</script>
<style  scoped>
.prova {
  background-image: url("http://fabricjs.com/assets/printio.png");
}

.video-container {
  height: 300px;
  width: 300px;
  position: relative;
}

.video-container video {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  z-index: 0;
}

/* Just styling the content of the div, the *magic* in the previous rules */
.video-container .caption {
  z-index: 1;
  position: relative;
  text-align: center;
  color: #dc0000;
  padding: 10px;
}
</style>