<template>
  <div>
    <imoji-editor
      :default-image="importedImage"
      :sticker-images="stickerImages"
      :width="600"
      :height="480"
      @done="
        (image) => {
          // Do what you want
          this.stickerCanvas.addSticker(src, [options]);
        }
      "
      :photo-selection-disabled="false"
    />
  </div>
  <!-- prova -->
</template>

<script>
export default {};
</script>

<style lang="scss" scoped>
</style>