<template>
  <div id="app">
    <div>
      <file-pond
        name="test"
        ref="pond"
        allow-multiple="true"
        accepted-file-types="image/jpeg, image/png"
        :allow-file-encode="true"
        v-bind:files="myFiles"
        :image-edit-editor="editorConfig"
        :allow-reorder="true"
        :onupdatefiles="test"
        v-on:init="handleFilePondInit"
      />
    </div>
    <tui-image-editor
      ref="tuiImageEditor"
      :options="options"
    ></tui-image-editor>
  </div>
</template> 

<script>
// Import Vue FilePond
import vueFilePond from "vue-filepond";

// Import FilePond styles
import "filepond/dist/filepond.min.css";

// Import FilePond plugins
// Please note that you need to install these plugins separately
import { ImageEditor } from "@toast-ui/vue-image-editor";
// Load Style Code
import "tui-image-editor/dist/tui-image-editor.css";

// Import image preview plugin styles
import "filepond-plugin-image-preview/dist/filepond-plugin-image-preview.min.css";
import "filepond-plugin-image-edit/dist/filepond-plugin-image-edit.css";

// Import image preview and file type validation plugins
import FilePondPluginFileValidateType from "filepond-plugin-file-validate-type";
import FilePondPluginImagePreview from "filepond-plugin-image-preview";
import FilePondPluginImageEdit from "filepond-plugin-image-edit";
import FilePondPluginFileEncode from "filepond-plugin-file-encode";

// Create component
const FilePond = vueFilePond(
  FilePondPluginFileValidateType,
  FilePondPluginImagePreview,
  FilePondPluginImageEdit,
  FilePondPluginFileEncode
);

export default {
  name: "VueImageEditor",
  data: function () {
    return {
      myFiles: [],
      useDefaultUI: false,
      options: {
        // for tui-image-editor component's "options" prop
        cssMaxWidth: 700,
        includeUI: {
          loadImage: {
            path: "https://img-s-msn-com.akamaized.net/tenant/amp/entityid/BB1cs3Gu.img?h=450&w=799&m=6&q=60&o=f&l=f&x=938&y=364",
            name: "SampleImage",
          },
          menuBarPosition: "left",
          initMenu: "filter",
        },
      },
      editorConfig: {
        // Called by FilePond to edit the image
        // - should open your image editor
        // - receives file object and image edit instructions
        open: (file, instructions) => {
          console.log(file);
          console.log(file.getFileEncodeDataURL);
          console.log(instructions);
          console.log(this.myFiles);
          // open editor here
          this.$refs.tuiImageEditor.invoke(
            "loadImageFromURL",
            "https://i.imgur.com/IGcSOez.jpg",
            "My sample image"
          );
        },

        // Callback set by FilePond
        // - should be called by the editor when user confirms editing
        // - should receive output object, resulting edit information
        onconfirm: () => {},

        // Callback set by FilePond
        // - should be called by the editor when user cancels editing
        oncancel: () => {},

        // Callback set by FilePond
        // - should be called by the editor when user closes the editor
        onclose: () => {},
      },
    };
  },
  components: {
    FilePond,
    "tui-image-editor": ImageEditor,
  },

  methods: {
    test(a) {
      console.log(a);
      console.log(this.$refs.pond.getFiles()[0].getFileEncodeBase64String());
    },
    handleFilePondInit: function () {
      console.log("FilePond has initialized");

      // example of instance method call on pond reference
      this.$refs.pond.getFiles();
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>
.tui-image-editor-container {
  width: 1000px;
  height: 800px !important;
}
</style>
