<template>
  <div id="app">
    <Fabric />
  </div>
</template>

<script>
import Fabric from "./components/fabric.vue";

export default {
  components: { Fabric },
  name: "App",
};
</script>

<style>
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
</style>
